.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: var(--navbar-height);
    vertical-align: bottom;
    z-index: 99;
    background-color: whitesmoke;
    box-shadow: 0 0.1rem 0.2rem rgba(0,0,0,0.3);
}

.logo {
    margin-top: 0;
    text-align: center;
    font-size: 1.75rem;

    line-height: var(--navbar-height);
}
