* {
  font-family: nodepop-text, Arial, Helvetica, sans-serif;
  font-size: var(--font-size);
}

body {
  padding-top: var(--navbar-height);
  background-color: var(--back-color);
  color: var(--primary-color);
} 

a,
a:link,
a:visited,
a:focus {
text-decoration: none;
color: var(--primary-color);
}

